name: Build and Deploy to ACR

on:
  push:
    branches: [ "main" ] # Runs every time you push to main

permissions:
  id-token: write
  contents: read    

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Log in to Azure
      uses: azure/login@v2
      with:
        creds: '{"clientId":"${{ secrets.AZURE_CLIENT_ID }}","clientSecret":"${{ secrets.AZURE_CLIENT_SECRET }}","subscriptionId":"${{ secrets.AZURE_SUBSCRIPTION_ID }}","tenantId":"${{ secrets.AZURE_TENANT_ID }}"}'

    - name: Build and Push to ACR
      run: |
        az acr build --registry myweatheracr26 --image golang-weather-bff:${{ github.sha }} .